@font-face {
    font-family: "titlefont";
    src: url(deigratia/DeiGrat.ttf);
}
@font-face {
    font-family: "normal";
    src: url(DUKEPLUS.otf);
}

h1 {
    text-align: center;
    font-size: 40pt;
    font-family: "titlefont";
    color: hsl(244, 29%, 20%);
}

p {
    text-align: center;
    font-size: 20pt;
    font-family: "normal";
    color: hsl(244, 29%, 20%);
}
p1 {
    text-align: center;
    font-size: 10pt;
    font-family: "normal";
     color: hsl(244, 29%, 20%);
     display: flex;
     flex-direction: column;
}
h2 {
   text-align: center;
    font-size: 25pt;
    font-family: "normal";
    color: hsl(244, 29%, 20%);
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    width: auto;
   border-radius: 20px;
    border: 10px solid rgb(224, 160, 22);
    border-style: groove;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
	list-style-type: none;
}
a:visited {
   color: hsl(244, 29%, 20%);
   text-decoration: none;
}

a:link {
    color: hsl(244, 29%, 20%);
    text-decoration: none;
}

a:hover {
    color: rgb(224, 160, 22)
}

img{
    display: block;
  margin: auto;
    width: 300px;
    height: 300px;
}

div {
    justify-content: space-evenly;
}

.sun img {
position: absolute;
top: 0px;
left: 0px;
height: 51%;
width: auto;

}
body {
    background-color: bisque;
    border: 20px solid rgb(224, 160, 22) ;
    border-style: groove;
}

.grid {
    display: block;
    justify-content: space-evenly;
}

.list {
    justify-content: space-evenly
    }
