@font-face {
    font-family: "titlefont";
    src: url(deigratia/DeiGrat.ttf);
}
@font-face {
    font-family: "normal";
    src: url(old_englished_boots/Old_Englished_Boots.ttf);
}

h1 {
    text-align: center;
    font-size: 40pt;
    font-family: "titlefont";
    color: hsl(244, 29%, 20%);
}

p {
    text-align: center;
    font-size: 20pt;
    font-family: "normal";
    color: hsl(244, 29%, 20%);
}
p1 {
    text-align: center;
    font-size: 20pt;
    font-family: "normal";
     color: hsl(244, 29%, 20%);
     display: flex;
     flex-direction: column;
}
h2 {
   text-align: center;
    font-size: 25pt;
    font-family: "normal";
    color: hsl(244, 29%, 20%);
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    width: auto;
   border-radius: 20px;
    border: 10px solid rgb(224, 160, 22);
    border-style: groove;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
	list-style-type: none;
}
a:visited {
   color: hsl(244, 29%, 20%);
   text-decoration: none;
}

a:link {
    color: hsl(244, 29%, 20%);
    text-decoration: none;
}

a:hover {
    color: rgb(224, 160, 22)
}

img{
    display: block;
  margin: auto;
    width: 300px;
    height: 300px;
}

div {
    justify-content: space-evenly;
}

.sun img {
position: absolute;
top: 0px;
left: 0px;
height: 51%;
width: auto;

}
body {
    background-color: bisque;
    border: 20px solid rgb(224, 160, 22) ;
    border-style: groove;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    text-align: center;
    padding: 50px;
}

.list {
    justify-content: space-evenly
    }


section {
        background-image: url(scroll.png);
        margin: 20px;
        padding: 40px;
        overflow: auto;
        height: 200px;
        width: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
 }
 section::-webkit-scrollbar {
    display: none;
}
section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.aboutgrid {
  background-image: url(scroll.png);
        margin: 20px;
        padding: 40px;
        height: 300px;
        width: 300px;
    background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      
}